h2 {

    margin-left: 180px;
    font-size: 40px;
    color: black;
    -webkit-text-stroke: 1px yellow;
}
form {
    margin-left: 50px;
    border: 3px solid black;
    width: 500px;
    align-items: center;
    border-radius: 5px;
    background-color: #0c051d;
    padding-top: 20px;

}
.form-item {
    margin-left: 20px;
}
button {
    margin-left: 375px;

    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: yellow;
    color: black;
    opacity: 80%;
    padding: 7px;
    font-weight: bold;
}
button:hover{
    opacity: 100%;
}
label {
    color: yellow;
    font-size: 30px;
    margin: auto;
}

input {
    border-radius: 10px;
    height: 30px;
    background-color: white;
}

input[name="phone"] {
    margin-left: 20px;
}
input[name="name"] {
    margin-left: 85px;
}
input[name="time"] {
    margin-left: 55px;
}
